body {
    font-family: Tahoma;
}

table {
    background-color: Gray;
    table-layout: fixed;
    width: 100%;
}

td {
    text-align: center;
    padding: 4px 6px;
}

button {
    height: 100%;
    width: 100%;
    border: 1px solid black;
}

div {
    width: 50%;
    background-color: Gray;
    table-layout: fixed;
    border: 1px solid black;
}

input[type="text"] {
    border: 1px solid black;
    width: 95%;
    height: 25px;
    margin: 5px 5px 0px;
}
