﻿<!DOCTYPE html>
<html>
<head>
    <link href="site.css" rel="stylesheet">
    <title>Калькулятор</title>
</head>
<body>
    <div class="main">
        <form>
            <input id="textbox" type="text">
        </form>
        <table>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td><button onclick="updateTextBox('C')">C</button></td>
                <td><button onclick="updateTextBox('CE')">CE</button></td>
            </tr>
            <tr>
                <td><button onclick="updateTextBox(7)">7</button></td>
                <td><button onclick="updateTextBox(8)">8</button></td>
                <td><button onclick="updateTextBox(9)">9</button></td>
                <td><button onclick="updateTextBox('+')">+</button></td>
                <td><button onclick="updateTextBox('*')">*</button></td>
            </tr>
            <tr>
                <td><button onclick="updateTextBox(4)">4</button></td>
                <td><button onclick="updateTextBox(5)">5</button></td>
                <td><button onclick="updateTextBox(6)">6</button></td>
                <td><button onclick="updateTextBox('-')">-</button></td>
                <td><button onclick="updateTextBox('/')">/</button></td>
            </tr>
            <tr>
                <td><button onclick="updateTextBox(1)">1</button></td>
                <td><button onclick="updateTextBox(2)">2</button></td>
                <td><button onclick="updateTextBox(3)">3</button></td>
                <td><button onclick="updateTextBox('%')">%</button></td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td><button onclick="updateTextBox(0)">0</button></td>
                <td><button onclick="updateTextBox('.')">.</button></td>
                <td><button onclick="updateTextBox('+')">+/-</button></td>
                <td colspan=2><button onclick="calculate()">=</button></td>
            </tr>
        </table>
    </div>
</body>
</html>
